    <div id="page-content" style="margin-top: 150px">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Create an Account</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <header><h1>Create an Account </h1></header>
            <div class="row">

<aside class="col-md-2 col-sm-2">
                    
                      <%= image_tag "place.gif", alt: "profile image" %>

                </aside><!-- /.col-md-3 -->

<!--<aside class="col-md-2 col-sm-2">
                     <img src="place.gif" >

                </aside> -->
               
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {multipart: :true}) do |f| %> <%= devise_error_messages! %>
                <div class="col-md-4 col-sm-6 col-md-offset-2 col-sm-offset-1">
                    <h3></h3>
                    
                        <div>
                            <div class="form-group">
                                <%= f.label :Account_Type %>
                                   <%= f.select(:account, options_for_select([['Agency','Agency'],['Agent','Agent']])) %>
                                
                                   
                                </select>
                            </div><!-- /.form-group -->
                        </div>


                       
                        <hr>
                        <div class="form-group">
                        <%= f.label :Full_Name %><br />
                        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
                        </div><!-- /.form-group -->

                       
                        <div class="form-group">
                        <%= f.label :Phone_Number %><br />
                        <%= f.text_field :phone, autofocus: true, class: 'form-control' %>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                        <%= f.label :password %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                        <%= f.label :avatar do %> 
                        <%= f.file_field :avatar %> 
                        <%= f.hidden_field :avatar_cache %> <% end %>
                        </div><!-- /.form-group -->
                       
                        <div class="form-group clearfix">
                            
                        <%= f.submit "Create an Account", class: 'btn pull-right btn-default' %>
                        </div><!-- /.form-group -->
                    </form>
                    <hr>
                    <div class="center">
                        <figure class="note">By clicking the “Create an Account” button you agree with our <a href="#">Terms and conditions</a></figure>
                    </div>
                </div>
               <% end %>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>


   
      
    
  