
 <div id="page-content" style="margin-top: 150px">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Property Detail</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Property Detail Content -->
                <div class="col-md-9 col-sm-9">
                    <section id="property-detail">
                        <header class="property-title">
                            <h1> <%= @listing.title %></h1>
                            <figure></figure>
                            <span class="actions">
                                <!--<a href="#" class="fa fa-print"></a>
                                <a href="#" class="bookmark" data-bookmark-state="empty"><span class="title-add">Add to bookmark</span><span class="title-added">Added</span></a>  -->
                            </span>
                        </header>
                        <section id="property-gallery">
                            <div class="owl-carousel property-carousel">
                              <% @listing.listing_images.each do |t| %>                                    
                                   <div class="property-slide">

                                    <a href="img/384b73d57900182de0cee76c6854dcd4.jpg" class="image-popup">
                                        <div class="overlay"><h3>Front View</h3></div>
                                        <%= image_tag t.img.url unless t.img.url.nil? %>
                                    </a>
                                </div><!-- /.property-slide -->
                                                             
                                  <% end %>

                                   <% @listing.listing_images.each do |t| %>                                    
                                   <div class="property-slide">

                                    <a href="img/384b73d57900182de0cee76c6854dcd4.jpg" class="image-popup">
                                        <div class="overlay"><h3>Front View</h3></div>
                                        <%= image_tag t.img.url unless t.img.url.nil? %>
                                    </a>
                                </div><!-- /.property-slide -->
                                                             
                                  <% end %>

                            
                                          
                                  
                                   
                                 
                                                             
                            </div><!-- /.property-carousel -->
                        </section>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <section id="quick-summary" class="clearfix">
                                    <header><h2>Quick Summary</h2></header>
                                    <dl>
                                        <!--<dt>Location</dt>
                                            <dd>Chicago, IL 60610</dd>  -->
                                        <dt>Price</dt>
                                            <dd><span class="tag price">₦<%= @listing.price %></span></dd>
                                        <dt>Property Type:</dt>
                                            <dd>Luxurious Property</dd>
                                        <dt>Status:</dt>
                                            <dd>For   <%= @listing.status %></dd>
                                        <dt>Area:</dt>
                                            <dd>  <%= @listing.bed %> m<sup>2</sup></dd>
                                        <dt>Beds:</dt>
                                            <dd><%= @listing.bath %> </dd>
                                        <dt>Baths:</dt>
                                            <dd><%= @listing.area %> </dd>
                                        <dt>Garages:</dt>
                                            <dd><%= @listing.garage %> </dd>
                                        <!--<dt>Rating:</dt>
                                            <dd><div class="rating rating-overall" data-score="4"></div></dd>  -->
                                    </dl>
                                </section><!-- /#quick-summary -->
                            </div><!-- /.col-md-4 -->
                            <div class="col-md-8 col-sm-12">
                                <section id="description">
                                    <header><h2>Property Description</h2></header>
                              <p><%= @listing.description %>                                  </p>
                                    
                                </section><!-- /#description -->
                               <!-- <section id="property-features">
                                    <header><h2>Property Description</h2></header>
                                    <ul class="list-unstyled property-features-list">
                                        <li>Sauna</li>
                                        <li>Fireplace or fire pit</li>
                                        <li>Outdoor Kitchen</li>
                                        <li>Tennis Courts</li>
                                        <li>Trees and Landscaping</li>
                                        <li>Sun Room</li>
                                        <li>Family Room</li>
                                        <li>Concrete Flooring</li>
                                    </ul>
                                </section><!-- /#property-features -->
                                <!-- <section id="floor-plans">
                                   <div class="floor-plans">
                                        <header><h2>Floor Plans</h2></header>
                                        <a href="assets/img/properties/floor-plan-big.jpg" class="image-popup"><img alt="" src="assets/img/properties/floor-plan-01.jpg"></a>
                                        <a href="assets/img/properties/floor-plan-big.jpg" class="image-popup"><img alt="" src="assets/img/properties/floor-plan-02.jpg"></a>
                                    </div>  
                                </section><!-- /#floor-plans -->
                              
                            </div><!-- /.col-md-8 -->
                            <div class="col-md-12 col-sm-12">
                                <section id="contact-agent">
                                    <header><h2>Contact Agent</h2></header>
                                    <div class="row">
                                        <section class="agent-form">
                                            <div class="col-md-7 col-sm-12">
                                                <aside class="agent-info clearfix">
                                                    <% img = @listing.user.avatar %>     
                                                    <figure><a href="agents.php?id=40">   <%= image_tag img.url unless img.url.nil? %></a></figure>

                                                    <div class="agent-contact-info">
                                                        <h3><%= @listing.user.first_name %></h3>
                                                        <p>
                                                                                                                    </p>
                                                        <!--<dl>
                                                            <dt>Phone:</dt>
                                                            <dd>(123) 456 789</dd>
                                                            <dt>Mobile:</dt>
                                                            <dd>888 123 456 789</dd>
                                                            <dt>Email:</dt>
                                                            <dd><a href="mailto:#">john.doe@example.com</a></dd>
                                                            <dt>Skype:</dt>
                                                            <dd>john.doe</dd>
                                                        </dl>  -->
                                                        <hr>
                                                        <a href="agents.php?id=40" class="link-arrow">Full Profile</a>
                                                    </div>
                                                </aside>
                                            </div>
                                            <div class="col-md-5 col-sm-12">
                                                <div class="agent-form">
                                                    <form role="form" id="form-contact-agent" method="post"  class="clearfix">
                                                        <div class="form-group">
                                                            <label for="form-contact-agent-name">Your Name<em>*</em></label>
                                                            <input type="text" class="form-control" id="form-contact-agent-name" name="form-contact-agent-name" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="form-contact-agent-email">Your Email<em>*</em></label>
                                                            <input type="email" class="form-control" id="form-contact-agent-email" name="form-contact-agent-email" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="form-contact-agent-message">Your Message<em>*</em></label>
                                                            <textarea class="form-control" id="form-contact-agent-message" rows="2" name="form-contact-agent-message" required></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn pull-right btn-default" id="form-contact-agent-submit">Send a Message</button>
                                                        </div>
                                                        <div id="form-contact-agent-status"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                              <!--  <hr class="thick">
                                <section id="similar-properties">
                                    <header><h2 class="no-border">Similar Properties</h2></header>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="property">
                                                <a href="property-detail.html">
                                                    <div class="property-image">
                                                        <img alt="" src="assets/img/properties/property-06.jpg">
                                                    </div>
                                                    <div class="overlay">
                                                        <div class="info">
                                                            <div class="tag price">$ 11,000</div>
                                                            <h3>3398 Lodgeville Road</h3>
                                                            <figure>Golden Valley, MN 55427</figure>
                                                        </div>
                                                        <ul class="additional-info">
                                                            <li>
                                                                <header>Area:</header>
                                                                <figure>240m<sup>2</sup></figure>
                                                            </li>
                                                            <li>
                                                                <header>Beds:</header>
                                                                <figure>2</figure>
                                                            </li>
                                                            <li>
                                                                <header>Baths:</header>
                                                                <figure>2</figure>
                                                            </li>
                                                            <li>
                                                                <header>Garages:</header>
                                                                <figure>0</figure>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="property">
                                                <a href="property-detail.html">
                                                    <div class="property-image">
                                                        <img alt="" src="assets/img/properties/property-04.jpg">
                                                    </div>
                                                    <div class="overlay">
                                                        <div class="info">
                                                            <div class="tag price">$ 38,000</div>
                                                            <h3>2186 Rinehart Road</h3>
                                                            <figure>Doral, FL 33178 </figure>
                                                        </div>
                                                        <ul class="additional-info">
                                                            <li>
                                                                <header>Area:</header>
                                                                <figure>240m<sup>2</sup></figure>
                                                            </li>
                                                            <li>
                                                                <header>Beds:</header>
                                                                <figure>3</figure>
                                                            </li>
                                                            <li>
                                                                <header>Baths:</header>
                                                                <figure>1</figure>
                                                            </li>
                                                            <li>
                                                                <header>Garages:</header>
                                                                <figure>1</figure>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="property">
                                                <a href="property-detail.html">
                                                    <div class="property-image">
                                                        <img alt="" src="assets/img/properties/property-07.jpg">
                                                    </div>
                                                    <div class="overlay">
                                                        <div class="info">
                                                            <div class="tag price">$ 325,000</div>
                                                            <h3>3705 Brighton Circle Road</h3>
                                                            <figure>Glenwood, MN 56334</figure>
                                                        </div>
                                                        <ul class="additional-info">
                                                            <li>
                                                                <header>Area:</header>
                                                                <figure>240m<sup>2</sup></figure>
                                                            </li>
                                                            <li>
                                                                <header>Beds:</header>
                                                                <figure>3</figure>
                                                            </li>
                                                            <li>
                                                                <header>Baths:</header>
                                                                <figure>1</figure>
                                                            </li>
                                                            <li>
                                                                <header>Garages:</header>
                                                                <figure>1</figure>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <hr class="thick"> -->
                               
                            </div>
                        </div><!-- /.row -->
                    </section><!-- /#property-detail -->
                </div><!-- /.col-md-9 -->
                <!-- end Property Detail Content -->

                <!-- sidebar -->
                <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                        <aside id="edit-search">
                            <header><h3>Search Properties</h3></header>
                            <form role="form" id="form-sidebar" class="form-search" action="properties-listing.html">
                                <div class="form-group">
                                     <select name="type">
                                        <option value="">Status</option>
                                        <option value="Rent">To Rent</option>
                                        <option value="Sale">To Sale</option>
                                         
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <select name="city">
                                        <option value="">Covered Areas</option>
                                        <option value="Apapa">Apapa</option>
                                        <option value="Oregun">Oregun</option>
                                        <option value="Agidingbi">Agidingbi</option>
                                        <option value="Allen avenue">Allen avenue</option>
                                        <option value="Opebi">Opebi</option>
                                        
                                        
                                        <option value="Ikeja GRA">Ikeja GRA</option>
                                        <option value="Anifowoshe">Anifowoshe</option>
                                        <option value="Awolowo Ikeja">Awolowo Ikeja</option>
                                        <option value="Wemabod estate">Wemabod estate</option>
                                        <option value="Toyin Street">Toyin Street</option>
                                        
                 <option value="Adeniyi jones">Adeniyi jones</option>
                                        <option value="Marwa garden">
                                            Marwa garden</option>
                                        <option value="Ogba">Ogba</option>
                                        <option value="Omole phase 1">Omole phase 1</option>
                                        <option value="Toyin Street">Toyin Street</option>
                                        
                                        <option value="Awolowo Ikeja">Awolowo Ikeja</option>
                                        <option value="Wemabod estate">Wemabod estate</option>
                                        <option value="Magodo">Magodo</option>
                                        
                 <option value="Omole phase 2">Omole phase 2</option>
                                        <option value="Shangisha">
                                            Shangisha</option>
                                        <option value="Ojodu">Ojodu</option>
                                        <option value="Berger">Berger</option>
                                        <option value="Ikosi
">Ikosi
</option>


gbek
  
                                        <option value="Alapere">Alapere</option>
                                        <option value="Ojota">Ojota</option>
                                        <option value="Ogudu">Ogudu</option>
                                        
                                       









                                        
                 <option value=" Gbagada"> Gbagada</option>
                                        <option value="Anthony">
                                            Anthony</option>
                                        <option value="Mende">Mende</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Shonibare
">Shonibare
</option>

<option value="G.Kappa
">G.Kappa
</option>


<option value="Mobolaji Bank Anthony"> Mobolaji Bank Anthony</option>
                                        <option value="Ilupeju">
                                            Ilupeju</option>
                                        <option value="Obanikoro">Obanikoro</option>
                                        <option value="Maryland">Maryland</option>
                                        Fadeyi



                                        
                                        
                                        <option value="Yaba
">Yaba
</option>

<option value="Surulere axis
">Surulere axis
</option>
<option value="Alagomeji
">Alagomeji
</option>


<option value="Festac Town">Festac Town</option>
                                        <option value="Lagos Island">Lagos Island</option>
                                        
                 <option value="Ikoyi(old and new)">Ikoyi(old and new)</option>
                                        <option value="Park view">
                                            Park view</option>
                                        <option value="Punch Estate">Punch Estate</option>
                                        <option value="Victoria island">Victoria island</option>
                                        <option value="Banana island
">Banana island
</option>



  
                                        <option value="Dolphin estate">Dolphin estate</option>
                                        <option value="Lekki phase 1">Lekki phase 1</option>
                                        <option value="Oniru estate">Oniru estate</option>
                                        
                                       


                                        
                 <option value="Chevron estate"> Chevron estate</option>
                                        <option value="Abraham Adesanya">







                                            Abraham Adesanya</option>
                                        <option value="Ajah axis">Ajah axis</option>
                                        <option value="Iyana ipaja">Iyana ipaja</option>
                                        <option value="Santos Estate
">
                                            Santos Estate
</option>


<option value="Akowonjo
"> Akowonjo</option>
                                        <option value="Gowon">
                                            Gowon
                                            </option>
                                        <option value="Abesan Estate">Abesan Estate</option>
                                        <option value="Jemade Estate">Jemade Estate</option>
                                        <option value="Shagari Estate
">Shagari Estate
</option>

<option value="Federal low cost estate( abesan)
">Federal low cost estate( abesan)
</option>

<option value="Isolos
">Isolo
</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">District</option>
                                        <option value="1">Mainland-Lagos</option>
                                        <option value="2">Island-Lagos</option>
                                        <option value="2">others</option>
                                        
                                    </select>
                                </div><!-- /.form-group -->
                                
                                <div class="form-group">
                                    <select name="property-type">
                                        <option value="">Property Type</option>
                                        <option value="1">Luxurious Property</option>
                                        <option value="2">Duplex</option>
                                        <option value="3">Flat/Apartment</option>
                                        <option value="4">Office Space</option>
                                        <option value="5">Land</option>
                                        <option value="5">Shortlet</option>
                                    </select>
                                </div><!-- /.form-group -->
                                <div class="form-group">
                                    <div class="price-range">
                                        <input id="price-input" type="text" name="price" value="1000;299000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-map -->
                        </aside><!-- /#edit-search -->
                       
 <aside id="featured-properties">
                            <header><h3>Similar Properties</h3></header>
                            
                            <% @new.each do |list| %>
               
                            <div class="property small">
                                <a href="detail.php?id=39&&owner=40">
                                    <div class="property-image">
                                 
                                     <% image = list.listing_images.first %>
                                    <%= image_tag image.img.url, :class => "style_image"%>
                                   
                                    </div>
                                </a>
                                <div class="info">
                                    <a href="detail.php?id=39&&owner=40"><h4> <%= list.title %> </h4></a>
                                   <!-- <figure>Doral, FL 33178 </figure>  -->
                                    <div class="tag price">₦ <%= list.price %></div>
                                </div>
                            </div><!-- /.property -->
                            <% end %>                            
                        </aside>




                       <!-- /#featured-properties -->
                       <!-- <aside id="our-guides">
                            <header><h3>Our Guides</h3></header>
                            <a href="#" class="universal-button">
                                <figure class="fa fa-home"></figure>
                                <span>Buying Guide</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a>zSA
                            <a href="#" class="universal-button">
                                <figure class="fa fa-umbrella"></figure>
                                <span>Right Insurance for You</span>
                                <span class="arrow fa fa-angle-right"></span>
                            </a>
                        </aside> -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
    <!-- end Page Content -->
    <!-- Page Footer -->
