<div id="page-content" style="margin-top: 150px">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Agents</a></li>
                <li class="active">Agents Listing</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- Agent Detail -->
                <div class="col-md-9 col-sm-9">
                    <section id="agents-listing">
                        <header><h1>Agency Listing</h1></header>
                        <div class="row">
                           
                            
                                                        
                            <% @agencies.each do |agency| %>
                
                            <div class="col-md-12 col-lg-6">
                                <div class="agent">
                                    <a href="/agents/<%= agency.id %>" class="agent-image"><%= image_tag agency.avatar.url %></a>
                                    <div class="wrapper">
                                        <header><a href="/agents/<%= agency.id %>"><h2><%= agency.name %></h2></a></header>
                                        <aside><%= agency.listings.count %>  Properties</aside>
                                       <dl>
                                            <dt>Phone:</dt>
                                            <dd><%= agency.phone %></dd>
                                            
                                            <dt>Email:</dt>
                                            <dd><a href="mailto:#"><%= agency.email %></a></dd>
                                            
                                        </dl>  
                                    </div>
                                </div><!-- /.agent -->
                            </div><!-- /.col-md-12 -->

                            <% end %>

                        </div><!-- /.row -->
                    </section><!-- /#agents-listing -->
                    <!-- Pagination -->
                    <div class="center">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul><!-- /.pagination-->
                    </div><!-- /.center-->
                </div><!-- /.col-md-9 -->
                <!-- end Agent Detail -->

               
                 <div class="col-md-3 col-sm-3">
                    <section id="sidebar">
                         <!-- <aside id="edit-search">
                            <header><h3>Search Properties</h3></header>
                            <form role="form" id="form-sidebar" class="form-search" action="properties-listing.html">
                               <div class="form-group">
                                    <select name="type">
                                        <option value="">Status</option>
                                        <option value="Rent">To Rent</option>
                                        <option value="Sale">To Sale</option>
                                         
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <select name="city">
                                        <option value="">Covered Areas</option>
                                        <option value="Apapa">Apapa</option>
                                        <option value="Oregun">Oregun</option>
                                        <option value="Agidingbi">Agidingbi</option>
                                        <option value="Allen avenue">Allen avenue</option>
                                        <option value="Opebi">Opebi</option>
                                        
                                        
                                        <option value="Ikeja GRA">Ikeja GRA</option>
                                        <option value="Anifowoshe">Anifowoshe</option>
                                        <option value="Awolowo Ikeja">Awolowo Ikeja</option>
                                        <option value="Wemabod estate">Wemabod estate</option>
                                        <option value="Toyin Street">Toyin Street</option>
                                        
                 <option value="Adeniyi jones">Adeniyi jones</option>
                                        <option value="Marwa garden">
                                            Marwa garden</option>
                                        <option value="Ogba">Ogba</option>
                                        <option value="Omole phase 1">Omole phase 1</option>
                                        <option value="Toyin Street">Toyin Street</option>
                                        
                                        <option value="Awolowo Ikeja">Awolowo Ikeja</option>
                                        <option value="Wemabod estate">Wemabod estate</option>
                                        <option value="Magodo">Magodo</option>
                                        
                 <option value="Omole phase 2">Omole phase 2</option>
                                        <option value="Shangisha">
                                            Shangisha</option>
                                        <option value="Ojodu">Ojodu</option>
                                        <option value="Berger">Berger</option>
                                        <option value="Ikosi
">Ikosi
</option>



  
                                        <option value="Alapere">Alapere</option>
                                        <option value="Ojota">Ojota</option>
                                        <option value="Ogudu">Ogudu</option>
                                        
                                       









                                        
                 <option value=" Gbagada"> Gbagada</option>
                                        <option value="Anthony">
                                            Anthony</option>
                                        <option value="Mende">Mende</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Shonibare
">Shonibare
</option>

<option value="G.Kappa
">G.Kappa
</option>


<option value="Mobolaji Bank Anthony"> Mobolaji Bank Anthony</option>
                                        <option value="Ilupeju">
                                            Ilupeju</option>
                                        <option value="Obanikoro">Obanikoro</option>
                                        <option value="Maryland">Maryland</option>
                                        Fadeyi



                                        
                                        
                                        <option value="Yaba
">Yaba
</option>

<option value="Surulere axis
">Surulere axis
</option>
<option value="Alagomeji
">Alagomeji
</option>


<option value="Festac Town">Festac Town</option>
                                        <option value="Lagos Island">Lagos Island</option>
                                        
                 <option value="Ikoyi(old and new)">Ikoyi(old and new)</option>
                                        <option value="Park view">
                                            Park view</option>
                                        <option value="Punch Estate">Punch Estate</option>
                                        <option value="Victoria island">Victoria island</option>
                                        <option value="Banana island
">Banana island
</option>



  
                                        <option value="Dolphin estate">Dolphin estate</option>
                                        <option value="Lekki phase 1">Lekki phase 1</option>
                                        <option value="Oniru estate">Oniru estate</option>
                                        
                                       


                                        
                 <option value="Chevron estate"> Chevron estate</option>
                                        <option value="Abraham Adesanya">







                                            Abraham Adesanya</option>
                                        <option value="Ajah axis">Ajah axis</option>
                                        <option value="Iyana ipaja">Iyana ipaja</option>
                                        <option value="Santos Estate
">
                                            Santos Estate
</option>


<option value="Akowonjo
"> Akowonjo</option>
                                        <option value="Gowon">
                                            Gowon
                                            </option>
                                        <option value="Abesan Estate">Abesan Estate</option>
                                        <option value="Jemade Estate">Jemade Estate</option>
                                        <option value="Shagari Estate
">Shagari Estate
</option>

<option value="Federal low cost estate( abesan)
">Federal low cost estate( abesan)
</option>

<option value="Isolos
">Isolo
</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">District</option>
                                        <option value="1">Mainland-Lagos</option>
                                        <option value="2">Island-Lagos</option>
                                        <option value="2">others</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="property-type">
                                        <option value="">Property Type</option>
                                        <option value="1">Luxurious Property</option>
                                        <option value="2">Duplex</option>
                                        <option value="3">Flat/Apartment</option>
                                        <option value="4">Office Space</option>
                                        <option value="5">Land</option>
                                        <option value="5">Shortlet</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="price-range">
                                        <input id="price-input" type="text" name="price" value="100000;500000000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div>
                            </form> 
                        </aside> -->
                        <aside id="featured-properties">
                        <%= image_tag "place.gif", alt: "profile image" %>
                        </aside><!-- /#our-guide -->
                       <aside id="featured-properties">
                        <%= image_tag "place.gif", alt: "profile image" %>
                        </aside><!-- /#our-guide -->
                    </section><!-- /#sidebar -->
                </div><!-- /.col-md-3 -->
                <!-- end Sidebar -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>