  
    <div id="slider" class="loading has-parallax" >
       <!-- <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>  -->
        <div class="owl-carousel homepage-slider carousel-full-width">
                    <div class="slide">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Ibeju</h3>
                            <figure>Island,Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
                <%= image_tag "Lekki.jpg" %>
            </div>
           
            <div class="slide">
            <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Maryland/Ikeja </h3>
                            <figure>Mainland/Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
                 <%= image_tag "lagos.jpg" %>
            </div>
           
                        <div class="slide">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Victoria Island/Ikoyi</h3>
                            <figure>Island,Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
                  <%= image_tag "thumbnail.jpg" %>
            </div>
           
                        <div class="slide">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Victoria Island/Ikoyi</h3>
                            <figure>Island,Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
               
                 <%= image_tag "detail12.jpg" %>
            </div>
           
                        
            
            
            
             
            
            
            
            
        </div>  
    </div>
    
    <!-- end Slider -->

   
    <div class="search-box-wrapper">
        <div class="search-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8">
                        <div class="search-box map">
                           <form role="form" id="form-map" class="form-map form-search">
                                <h2>Search Your Property</h2>

                           
                                <!--<div class="form-group">
                                    <select name="type">
                                        <option value="">Status</option>
                                        <option value="Rent">To Rent</option>
                                        <option value="Sale">To Sale</option>
                                         
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <select name="city">
                                        <option value="">Covered Areas</option>
                                        <option value="Apapa">Apapa</option>
                                        <option value="Oregun">Oregun</option>
                                        <option value="Agidingbi">Agidingbi</option>
                                        <option value="Allen avenue">Allen avenue</option>
                                        <option value="Opebi">Opebi</option>
                                        <option value="Ikeja GRA">Ikeja GRA</option>
                                        <option value="Anifowoshe">Anifowoshe</option>
                                        <option value="Awolowo Ikeja">Awolowo Ikeja</option>
                                        <option value="Wemabod estate">Wemabod estate</option>
                                        <option value="Toyin Street">Toyin Street</option>
                                        <option value="Adeniyi jones">Adeniyi jones</option>
                                        <option value="Marwa garden">
                                            Marwa garden</option>
                                        <option value="Ogba">Ogba</option>
                                        <option value="Omole phase 1">Omole phase 1</option>
                                        <option value="Toyin Street">Toyin Street</option>
                                        <option value="Awolowo Ikeja">Awolowo Ikeja</option>
                                        <option value="Wemabod estate">Wemabod estate</option>
                                        <option value="Magodo">Magodo</option>
                                        <option value="Omole phase 2">Omole phase 2</option>
                                        <option value="Shangisha">
                                            Shangisha</option>
                                        <option value="Ojodu">Ojodu</option>
                                        <option value="Berger">Berger</option>
                                        <option value="Ikosi">Ikosi</option>
                                        <option value="Alapere">Alapere</option>
                                        <option value="Ojota">Ojota</option>
                                        <option value="Ogudu">Ogudu</option>


  
                                        
                                        
                                       









                                        
                                         <option value=" Gbagada"> Gbagada</option>
                                        <option value="Anthony">Anthony</option>
                                            
                                        <option value="Mende">Mende</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Shonibare">Shonibare</option>
                                        <option value="G.Kappa">G.Kappa</option>
                                        <option value="Mobolaji Bank Anthony"> Mobolaji Bank Anthony</option>
                                        <option value="Ilupeju">
                                            Ilupeju</option>
                                        <option value="Obanikoro">Obanikoro</option>
                                        <option value="Maryland">Maryland</option>
                                        Fadeyi
                                         <option value="Yaba">Yaba</option>


                                        
                                        
                                       

<option value="Surulere axis
">Surulere axis
</option>
<option value="Alagomeji
">Alagomeji
</option>


<option value="Festac Town">Festac Town</option>
                                        <option value="Lagos Island">Lagos Island</option>
                                        
                 <option value="Ikoyi(old and new)">Ikoyi(old and new)</option>
                                        <option value="Park view">
                                            Park view</option>
                                        <option value="Punch Estate">Punch Estate</option>
                                        <option value="Victoria island">Victoria island</option>
                                        <option value="Banana island
">Banana island
</option>



  
                                        <option value="Dolphin estate">Dolphin estate</option>
                                        <option value="Lekki phase 1">Lekki phase 1</option>
                                        <option value="Oniru estate">Oniru estate</option>
                                        
                                       


                                        
                 <option value="Chevron estate"> Chevron estate</option>
                                        <option value="Abraham Adesanya">







                                            Abraham Adesanya</option>
                                        <option value="Ajah axis">Ajah axis</option>
                                        <option value="Iyana ipaja">Iyana ipaja</option>
                                        <option value="Santos Estate
">
                                            Santos Estate
</option>


<option value="Akowonjo
"> Akowonjo</option>
                                        <option value="Gowon">
                                            Gowon
                                            </option>
                                        <option value="Abesan Estate">Abesan Estate</option>
                                        <option value="Jemade Estate">Jemade Estate</option>
                                        <option value="Shagari Estate
">Shagari Estate
</option>

<option value="Federal low cost estate( abesan)
">Federal low cost estate( abesan)
</option>

<option value="Isolos
">Isolo
</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="district">
                                        <option value="">District</option>
                                        <option value="1">Mainland-Lagos</option>
                                        <option value="2">Island-Lagos</option>
                                        <option value="2">others</option>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select name="property-type">
                                        <option value="">Property Type</option>
                                        <option value="1">Luxurious Property</option>
                                        <option value="2">Duplex</option>
                                        <option value="3">Flat/Apartment</option>
                                        <option value="4">Office Space</option>
                                        <option value="5">Land</option>
                                        <option value="5">Shortlet</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="price-range">
                                        <input id="price-input" type="text" name="price" value="100000;500000000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Now</button>
                                </div>
                            </form> -->
                            <%= render 'searches/form'  , search: @search%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <!-- <div class="search-box-wrapper">
        <div class="search-box-inner">
            <div class="container">
                <div class="search-box map">
                    <form role="form" id="form-map-sale" class="form-map form-search clearfix">
                        <div class="row">
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <select name="form-sale-country">
                                        <option value="">Country</option>
                                        <option value="1">France</option>
                                        <option value="2">Great Britain</option>
                                        <option value="3">Spain</option>
                                        <option value="4">Russia</option>
                                        <option value="5">United States</option>
                                    </select>
                                </div>
                            </div> 
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <select name="form-sale-city">
                                        <option value="">City</option>
                                        <option value="1">New York</option>
                                        <option value="2">Los Angeles</option>
                                        <option value="3">Chicago</option>
                                        <option value="4">Houston</option>
                                        <option value="5">Philadelphia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <select name="form-sale-district">
                                        <option value="">District</option>
                                        <option value="1">Manhattan</option>
                                        <option value="2">The Bronx</option>
                                        <option value="3">Brooklyn</option>
                                        <option value="4">Queens</option>
                                        <option value="5">Staten Island</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <select name="form-sale-property-type">
                                        <option value="">Property Type</option>
                                        <option value="1">Apartment</option>
                                        <option value="2">Condominium</option>
                                        <option value="3">Cottage</option>
                                        <option value="4">Flat</option>
                                        <option value="5">House</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <select name="form-sale-price">
                                        <option value="">Price</option>
                                        <option value="1">$10,000 +</option>
                                        <option value="2">$50,000 +</option>
                                        <option value="3">$100,000 +</option>
                                        <option value="4">$500,000 +</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Search Sale</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="background-image"><img class="opacity-20" src="assets/img/searchbox-bg.jpg"></div>
    </div> -->

    

    <!-- Page Content -->
    <div id="page-content">
           <section id="banner">
            <div class="block has-dark-background background-color-default-darker center text-banner">
                <div class="container">
                    <h1 class="no-bottom-margin no-border">Find Your Next Home to buy or rent in Lagos</h1>
                </div>
            </div>
        </section><!-- /#banner -->
       <!-- <section id="our-services" class="block">
            <div class="container">
                <header class="section-title"><h2>Our Services</h2></header>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <img src=img/dow.png height="50">
                            <aside class="description">
                                <header><h3>Search Faster</h3></header>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                <a href="properties-listing.html" class="link-arrow">Read More</a>
                            </aside>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-users"></i></figure>
                            <aside class="description">
                                <header><h3>14 Agents for Your Service</h3></header>
                                <p>Aliquam gravida magna et fringilla convallis. Pellentesque habitant morbi </p>
                                <a href="agents-listing.html" class="link-arrow">Read More</a>
                            </aside>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-money"></i></figure>
                            <aside class="description">
                                <header><h3>Best Price Guarantee!</h3></header>
                                <p>Phasellus non viverra tortor, id auctor leo. Suspendisse id nibh placerat</p>
                                <a href="#" class="link-arrow">Read More</a>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>  -->
        <section id="price-drop" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>Featured Properties</h2>
                    <a href="buy.php" class="link-arrow">All Properties</a>
                </header>
                <div class="row">
                <% @lists.each do |list| %>
                 <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="detail.php?id=4&&owner=17">
                                <div class="property-image">
                                    <% image = list.listing_images.first %>
                                    <%= image_tag image.img.url, :class => "style_image"%>
                                   
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">₦<%= list.price  %></div>
                                        <h3><%= list.title  %></h3>
                                        <figure></figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>4</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->

                     <% end %>
                </div><!-- /.row-->
            </div><!-- /.container -->
        </section> 
        
        
        
        <section id="our-services" class="block">
            <div class="container">
                <header class="section-title"><h2>Our Services</h2></header>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-search"></i></figure>
                            <aside class="description">
                                <header><h3>Search Faster </h3></header>
                               <p>Filter your search and find properties faster.see over 1000 new properties everyday</p>
                              
                            </aside>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-home"></i></figure>
                            <aside class="description">
                                <header><h3>Sell and Rent Easily</h3></header>
                               <p>Upload and manage your properties with ease.Reach Millions of people worldwide.</p>
                                <!--<a href="agents-listing.html" class="link-arrow">Read More</a> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-users"></i></figure>
                            <aside class="description">
                                <header><h3>Find Top Agents</h3></header>
                              <p>Directly contact agents in your local area for a comphrehensive insight into available properties</p>
                               <!-- <a href="#" class="link-arrow">Read More</a>  -->
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section id="new-properties" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>New Properties for You</h2>
                    <a href="list.php" class="link-arrow">All Properties</a>
                </header>
                <div class="row">
                                        
                   
                                  
                            <% @new.each do |list| %>
                            
                         <div class="col-md-3 col-sm-6">
                        <div class="property">
                           
                            <a href="/listings/<%= list.id %>">
                                <div class="property-image">
                                    <% image = list.listing_images.first %>
                                    <%= image_tag image.img.url, :class => "style_image"%>
                                   
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">₦<%= list.price  %></div>
                                        <h3><%= list.title  %></h3>
                                        <figure></figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>4</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->

                   
                           <% end %>            
                   
                                   </div><!-- /.row-->
            </div><!-- /.container-->
        </section><!-- /#new-properties-->
      <!--  <section id="testimonials" class="block">
            <div class="container">
                <header class="section-title"><h2>Testimonials</h2></header>
                <div class="owl-carousel testimonials-carousel">
                    <blockquote class="testimonial">
                        <figure>
                            <div class="image">
                                <img alt="" src="http://themestarz.net/html/zoner/assets/img/client-01.jpg">
                            </div>
                        </figure>
                        <aside class="cite">
                            <p> have never experienced seemless property transaction like this until  i met Lagoshomefinder team. they are very professional and straight with the process. I love the fact that they can also introduce client to mortgage houses in Nigeria.</p>
                            <footer>Sijibomi allison(Dublin)</footer>
                        </aside>
                    </blockquote>
                    <blockquote class="testimonial">
                        <figure>
                            <div class="image">
                                <img alt="" src="http://themestarz.net/html/zoner/assets/img/client-01.jpg">
                            </div>
                        </figure>
                        <aside class="cite">
                            <p>We were pleasantly surprised by the product developed and the dedicated customer care staff.</p>
                            <footer>Funmilola Adeniji - Banker</footer>
                        </aside>
                    </blockquote>
                </div>
            </div>
        </section>  -->
        <section id="partners" class="block">
            <div class="container">
                <header class="section-title"><h2>Our Partners</h2>
               
                </header>
                <div class="logos">
                                        <div class="logo"><a href=""><%= image_tag "amenestate.jpg", alt: "profile image" %>
                                  </a></div>
                                       <div class="logo"><a href=""><%= image_tag "brainsandhammerslogo2.jpg", alt: "profile image" %></a></div>
                                       <div class="logo"><a href=""><%= image_tag "grennadineshomeslogo2.png", alt: "profile image" %></a></div>
                                   </div>
            </div><!-- /.container -->
        </section><!-- /#partners -->
    </div>
    <!-- end Page Content -->