  
    <div id="slider" class="loading has-parallax" >
       <!-- <div id="loading-icon"><i class="fa fa-cog fa-spin"></i></div>  -->
        <div class="owl-carousel homepage-slider carousel-full-width">
                    <div class="slide">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Ibeju</h3>
                            <figure>Island,Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
                <%= image_tag "Lekki.jpg" %>
            </div>
           
            <div class="slide">
            <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Maryland/Ikeja </h3>
                            <figure>Mainland/Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
                 <%= image_tag "lagos.jpg" %>
            </div>
           
                        <div class="slide">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Victoria Island/Ikoyi</h3>
                            <figure>Island,Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
                  <%= image_tag "thumbnail.jpg" %>
            </div>
           
                        <div class="slide">
                <div class="container">
                    <div class="overlay">
                        <div class="info">
                            <!--<div class="tag price">₦110,000,000</div> -->
                            <h3>Victoria Island/Ikoyi</h3>
                            <figure>Island,Lagos</figure>
                        </div>
                        <hr>
                        <a href="#" class="link-arrow">Read More</a>
                    </div>
                </div>
               
                 <%= image_tag "detail12.jpg" %>
            </div>
           
                        
            
            
            
             
            
            
            
            
        </div>  
    </div>
    
    
                            <%= render 'filters/form'  , filters: @filter%>
                       
   
    <div id="page-content">
           <section id="banner">
            <div class="block has-dark-background background-color-default-darker center text-banner">
                <div class="container">
                    <h1 class="no-bottom-margin no-border">Find Your Next Home to buy or rent in Lagos</h1>
                </div>
            </div>
        </section>
        <section id="price-drop" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>Featured Properties</h2>
                    <a href="#" class="link-arrow">All Properties</a>
                </header>
                <div class="row">
                <% @lists.each do |list| %>
                 <div class="col-md-3 col-sm-6">
                        <div class="property">
                            <a href="/listings/<%= list.id %>">
                                <div class="property-image">
                                    <% image = list.listing_images.first %>
                                    <%= image_tag image.img.url, :class => "style_image"%>
                                   
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">₦<%= list.price  %></div>
                                        <h3><%= list.title  %></h3>
                                        <figure></figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>4</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->

                     <% end %>
                </div><!-- /.row-->
            </div><!-- /.container -->
        </section> 
        
        
        
        <section id="our-services" class="block">
            <div class="container">
                <header class="section-title"><h2>Our Services</h2></header>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-search"></i></figure>
                            <aside class="description">
                                <header><h3>Search Faster </h3></header>
                               <p>Filter your search and find properties faster.see over 1000 new properties everyday</p>
                              
                            </aside>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-home"></i></figure>
                            <aside class="description">
                                <header><h3>Sell and Rent Easily</h3></header>
                               <p>Upload and manage your properties with ease.Reach Millions of people worldwide.</p>
                                <!--<a href="agents-listing.html" class="link-arrow">Read More</a> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="feature-box equal-height">
                            <figure class="icon"><i class="fa fa-users"></i></figure>
                            <aside class="description">
                                <header><h3>Find Top Agents</h3></header>
                              <p>Directly contact agents in your local area for a comphrehensive insight into available properties</p>
                               <!-- <a href="#" class="link-arrow">Read More</a>  -->
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section id="new-properties" class="block">
            <div class="container">
                <header class="section-title">
                    <h2>New Properties for You</h2>
                    <a href="list.php" class="link-arrow">All Properties</a>
                </header>
                <div class="row">
                                        
                   
                                  
                            <% @new.each do |list| %>
                            
                         <div class="col-md-3 col-sm-6">
                        <div class="property">
                           
                            <a href="/listings/<%= list.id %>">
                                <div class="property-image">
                                    <% image = list.listing_images.first %>
                                    <%= image_tag image.img.url, :class => "style_image"%>
                                   
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="tag price">₦<%= list.price  %></div>
                                        <h3><%= list.title  %></h3>
                                        <figure></figure>
                                    </div>
                                    <ul class="additional-info">
                                        <li>
                                            <header>Area:</header>
                                            <figure>240m<sup>2</sup></figure>
                                        </li>
                                        <li>
                                            <header>Beds:</header>
                                            <figure>4</figure>
                                        </li>
                                        <li>
                                            <header>Baths:</header>
                                            <figure>3</figure>
                                        </li>
                                        <li>
                                            <header>Garages:</header>
                                            <figure>1</figure>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                        </div><!-- /.property -->
                    </div><!-- /.col-md-3 -->

                   
                           <% end %>            
                   
                                   </div><!-- /.row-->
            </div><!-- /.container-->
        </section>
        <section id="partners" class="block">
            <div class="container">
                <header class="section-title"><h2>Our Partners</h2>
               
                </header>
                <div class="logos">
                                        <div class="logo"><a href=""><%= image_tag "amenestate.jpg", alt: "profile image" %>
                                  </a></div>
                                       <div class="logo"><a href=""><%= image_tag "brainsandhammerslogo2.jpg", alt: "profile image" %></a></div>
                                       <div class="logo"><a href=""><%= image_tag "grennadineshomeslogo2.png", alt: "profile image" %></a></div>
                                   </div>
            </div>
        </section>
    </div>
    