<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_images.each do |listing_image| %>
      <tr>
        <td><%= listing_image.post_id %></td>
        <td><%= listing_image.img %></td>
        <td><%= link_to 'Show', listing_image %></td>
        <td><%= link_to 'Edit', edit_listing_image_path(listing_image) %></td>
        <td><%= link_to 'Destroy', listing_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing Image', new_listing_image_path %>
