<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @listing_image.post_id %>
</p>

<p>
  <strong>Img:</strong>
  <%= @listing_image.img %>
</p>

<%= link_to 'Edit', edit_listing_image_path(@listing_image) %> |
<%= link_to 'Back', listing_images_path %>
